{% extends 'master.html' %}
{% load static %}

{% block title %}Reagents list{% endblock %}

{% block content %}

{% block extra_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

<h1>Reagents List</h1>

  <form method="get" action="{% url 'reagents_list' %}">
    {{ search_form.as_p }}
    <button class="bt_style" type="submit">Search</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Units</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for reagent in reagents %}
          <td>{{ reagent.name }}</td>
          <td>{{ reagent.units }}</td>
          <td>{{ reagent.amount }}</td>

          <td>
              <button class="bt_style" onclick="window.location.href='{% url 'view_reagent' reagent.pk %}'">View</button>
              <button class="bt_style" onclick="window.location.href='{% url 'edit_reagent' reagent.pk %}'">Edit</button>
              <button class="bt_style" onclick="window.location.href='{% url 'delete_reagent' reagent.pk %}'" onclick="return confirm('Are you sure?')">Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<button class="bt_style" onclick="window.location.href='{% url 'create_reagent' %}'">Add New Reagent</button>
<button class="bt_style" onclick="window.location.href='{% url 'reagents_and_consumables' %}'">Back</button>
{% endblock %}
