{% extends 'master.html' %}
{% load static %}

{% block title %}View reagent{% endblock %}

{% block content %}

{% block extra_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

<h1>View Reagent</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Units</th>
            <th>Amount</th>
            <th>Storage temperature</th>
            <th>Catalog number</th>
            <th>Lot number</th>
            <th>Producer</th>
            <th>Delivery date</th>
            <th>Expiration date</th>
            <th>File</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>


            <tr>
                <td>{{ reagent.name }}</td>
                <td>{{ reagent.units }}</td>
                <td>{{ reagent.amount }}</td>
                <td>{{ reagent.storage_temperature }}</td>
                <td>{{ reagent.cat_number }}</td>
                <td>{{ reagent.lot }}</td>
                <td>{{ reagent.producer }}</td>
                <td>{{ reagent.delivery_date }}</td>
                <td>{{ reagent.expiration_date }}</td>
                <td>{{ reagent.file }}</td>
                <td>

                    <button class="bt_style" onclick="window.location.href='{% url 'edit_reagent' reagent.pk %}'">Edit</button>
                    <button class="bt_style" onclick="if (confirm('Are you sure?')) { window.location.href='{% url 'delete_reagent' reagent.pk %}'; }">Delete</button>
                </td>
            </tr>


    </tbody>
</table>

{% endblock %}
