{% extends "master.html" %}
{% load static %}

{% block content %}

{% block extra_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% endblock %}

  <div class="content-section ">
    <h2>Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Update Profile</button>
       </form>
   </div>

{% endblock content %}

