{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>


<div class="container-fluid">

{% include 'header.html' %}

        <h1>Project List</h1>
        <form method="get" action="{% url 'project_list' %}">
            {{ search_form.as_p }}
            <button type="submit">Search</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'project_detail' pk=project.pk %}">{{ project.name }}</a></td>
                    <td>{{ project.project_description }}</td>
                    <td>{{ project.date_start }}</td>
                    <td>{{ project.date_finish }}</td>
                    <td>
                        <button type="button" onclick="window.location.href='{% url 'edit_project' pk=project.pk %}'">Edit</a></button>
                        <button type="button" onclick="window.location.href='{% url 'delete_project' pk=project.pk %}'">Delete</a></button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No projects found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='{% url 'create_project' %}'">Create New Project</button>
        <button type="button" onclick="window.location.href='{% url 'my_projects' %}'">Back</button>

    </body>
    </html>



{% include 'footer.html' %}
</div>
</body>
</html>