{% extends 'master.html' %}
{% load static %}

{% block content %}
{% block extra_css %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}


    <h1>Add new protocol</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="bt_style"  type="submit">Save</button>
        <button class="bt_style" onclick="window.location.href='{% url 'protocol_list' %}'">Back to list</button>
    </form>

{% endblock %}