{% extends 'master.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock %}

<div class="container-fluid">

{% include 'header.html' %}

{% block content %}
    <h1>List of Protocols</h1>

        <form method="get" action="{% url 'protocol_list' %}">
            {{ search_form.as_p }}
            <button type="submit" class="btn">Search</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Creation</th>
                    <th>Date of Editing</th>
                    <th>File Size</th>
                    <th>Type of Files</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for protocol in protocols %}
                    <tr>
                        <td data-label="Name">
                            <a href="{% url 'view_protocol' protocol.pk %}">{{ protocol.name }}</a>
                        </td>
                        <td data-label="Date of Creation">{{ protocol.created_at }}</td>
                        <td data-label="Date of Editing">{{ protocol.updated_at }}</td>
                        <td data-label="File Size">{{ protocol.file_size|filesizeformat }}</td>
                        <td data-label="Type of Files">{{ protocol.file_type }}</td>
                        <td data-label=" " class="actions">
                            <a href="{% url 'view_protocol' protocol.pk %}">Preview</a> |
                            <a href="{% url 'edit_protocol' protocol.pk %}">Edit</a> |
                            <a href="{% url 'delete_protocol' protocol.pk %}" onclick="return confirm('Are you sure you want to delete this protocol?');">Delete</a> |
                            <a href="{% url 'download_protocol' protocol.pk %}">Download</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="no-protocols">List of protocols is empty</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'create_protocol' %}" class="btn">Add New Protocol</a>

{% endblock %}
{% include 'footer.html' %}
</div>
</body>
</html>