{% extends 'master.html' %}
{% load static %}

{% block content %}
    {% block extra_css %}
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}

    <h1>{{ note.note_topic }}</h1>
    <p>Owner: {{ note.owner.username }}</p>
    <p><strong>Date of Action:</strong> {{ note.date_of_action }}<strong>Created:</strong> {{ note.created_at }}<strong>Updated:</strong> {{ note.updated_at }}</p>

    <p><strong>Projects:</strong>
      {% if note.projects.all %}
        {% for project in note.projects.all %}
          <a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        No projects
      {% endif %}
    </p>

    <p><strong>Protocols:</strong>
      {% if note.protocols.all %}
        {% for protocol in note.protocols.all %}
          <a href="{% url 'view_protocol' protocol.pk %}">{{ protocol.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        No protocols
      {% endif %}
    </p>

    <p><strong>Reagents:</strong>
      {% if note.reagents.all %}
        {% for reagent in note.reagents.all %}
          <a href="{% url 'view_reagent' reagent.pk %}">{{ reagent.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        No reagents
      {% endif %}
    </p>

    <p><strong>Consumables:</strong>
      {% if note.consumables.all %}
        {% for consumable in note.consumables.all %}
          <a href="{% url 'view_consumable' consumable.pk %}">{{ consumable.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% else %}
        No consumables
      {% endif %}
    </p>

    <p><strong>Note Text:</strong> {{ note.note_text }}</p>

    {% if note.files.all %}
        <p><strong>Files:</strong>
          {% for file in note.files.all %}
            <a href="{{ file.file.url }}" target="_blank">View {{ file.file.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
    {% else %}
        <p>No files</p>
    {% endif %}

    {% if user == note.owner %}
        <button class="bt_style" type="button" onclick="window.location.href='{% url 'manage_note_access' note.pk %}'">Manage Access</button>
    {% endif %}
    <button class="bt_style" type="button" onclick="window.location.href='{% url 'edit_note' pk=note.pk %}'">Edit</button>
    <button class="bt_style" type="button" onclick="window.location.href='{% url 'delete_note' pk=note.pk %}'">Delete</button>
    <button class="bt_style" type="button" onclick="window.location.href='{% url 'notes_list' %}'">Back to Notes List</button>

{% endblock %}
