body { 
	font-family: Arial, sans-serif;
	color:#800000;
	background-color: #CD853F;

}

.nav bg-info {
    background-color:#CD853F;
}

.container_fluid {
	font-family: Arial, sans-serif;
	color: #800000;
	background-color:#CD853F;
}
.carousel {
  height: 25vh; /* 25% висоти вікна браузера */
}

.carousel-item img {
  object-fit: cover; /* Зберігає співвідношення сторін, обрізає зображення, щоб воно заповнювало весь контейнер */
  height: 100%;
  width: 100%;
}
