
body {
    background-color: #f0f0f0; /* Сірий фон для всього тіла */
}

.nav-item {
    background-color:#6f42c1; /* Синій фон для навбару */
}
.nav-link link-light {
    background-color:#6f42c1;
}
.nav bg-info {
 background-color:#6f42c1;
}
.sticky_footer {
    background-color: #4b0082; /* Темний фон для футера */
    color: #ffffff; /* Білий колір тексту в футері */
    text-decoration: underline;
}

a {
    color: #28a745; /* Стандартний колір посилань */
}

a:hover {
    color: #90ee90; /* Колір посилань при наведенні */
}
. nav-link link-light