{% extends 'master.html' %}


{% block content %}
<h1>Manage Access</h1>

  <h2>Existing Access</h2>
  <ul>
    {% for access in existing_access %}
      <li>
        {{ access.user.username }} - {{ access.get_access_level_display }}
        <a href="{% url 'remove_reagent_access' reagent.pk access.user.pk %}" onclick="return confirm('Are you sure?');">Remove</a>
      </li>
    {% empty %}
      <li>No access permissions set.</li>
    {% endfor %}
  </ul>

  <h2>Add Access</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Access</button>
  </form>
  <a href="{% url 'reagents_list' %}">Back to List</a>
{% endblock %}
